*{
    margin: 0;
    padding: 0;

}
.cabecalho{
   background-attachment: #008E97;
   color: black;
   font-size: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}

.cabecalho-imagem{
   width: 5%;
   height: 5;
}

.cabecalho-lista-item{
   display: inline-block;
   margin: 50px 60px;
}


header{
   background-color:#008E97;
}

.div-alunos {
    text-align: center;
    padding: 24px 0;
    background-color: #fcfcfc;
}

.imagem-alunos {
    width: 450px;
    padding-left: 450px;
}

.conheça-nossa-turma {
    display: inline-flex;
    margin: 50px 60px;
    padding: 30px;
}

.conheça-nossa-turma {
    text-align: center;
    padding-left: 450px;
    font-size: 30px;
}

.Texto-sala {
    text-align: center;
    padding: 249x 0;
    background-color: #fcfcfc;
    font-size: x-large;
    color: #008E97;
}
